body{
	background-color: white;
	margin: 0 0 0 0;
}

.header{
	top: 0;
	position: sticky;
	background-color: white;
	height: 70px;
	border-bottom: 5px solid #247182;
}

.mediaLinks{
	background-color: #004452;
	height: 60px;
	display: flex;
	justify-content: center;
	#margin-bottom: 4px;
	width: 100%;
}

.mediaPics{
	height: inherit;
}

.mediaPics a{
	height: 50%;
	margin: 15px 10px;
}

.linkForMedia img{
	height: inherit;
	margin-top: 13px;
}

.navigationLink{
	list-style: none;
	float: right;
	margin: 0;
	height: 100%;
	margin-right: 125px;
}

#searchImg{
	width: 20px;
	margin-left: 5px;
}

.navigationLink li{
	display: inline-block;
	height: inherit;
	margin: 0;
}

#donateLink{
	text-decoration: none;
	color: #ac031f;
	font-weight: bold;
}

.donateButton{
	color: #ac031f;
}

.donateButton:hover{
	color: #ac031f;
}

.navigationLink li:hover{
	border-right: 1px solid black;
	border-left: 1px solid black;
	background-color: lightgrey;
}

.button{
	border: none;
	padding: 0px;
	text-align: center;
	margin: 15px 18px 0px 18px;
	text-transform: none;
	font-size: 12pt;
	font-weight: normal;
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.logoLink{
	height: 55%;
	margin: 17px 10px 10px 120px;
}

.logo{
	height: inherit;
	margin-top: 15px;
}

.imageSlider{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.sliderBanner{
	width: 100%;
}

.slidersImage{
	width: 100%;
}

.mainEventImage{
	margin-top: 30px;
}

#rightArrow{
	background-color: red;
	height: 80px;
	width: 30px;
}

.functionCards{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.function{
	height: 150px;
	width: 300px;
	margin: 30px 15px 30px 15px;
}

.card{
	#display: inline-block;
	height: 100%;
	width: inherit;
}

.blogPostElems{
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#latestPosts{
	font-size: 18pt;
}

.categoryButton{
	color: #247182;
	font-size: 10pt;
	border-radius: 0;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 10px;
	border-color: #247182;
}

.categoryButton:hover{
	color: white;
	text-decoration: underline;
	background-color: #247182;
}

.readerOfTheWeek{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.readerName{
	background-color: blue;
	height: inherit;
}

.readerLink{
	color: #666;
	font-size: 15pt;
	text-decoration: none;
}

.author{
	background-color: red;
}

.readerLink:hover{
	color: #666;
	text-decoration: underline;
}

#greatAmericanReadImg{
	width: 100%;
}

.uncPassport{
	margin-bottom: 30px;
}

#passportImage{
	height: 250px;
	width: 615px;
	display: block;
	float: right;
	#margin-left: auto;
	#argin-right: auto;
}

#passportsImage{
	height:inherit;
	width: inherit;
}

#passportDescription{
	line-height: 1.8em;
}

#passportDescription a{
	color: #247182;
}


.footer{
	height: 270px;
	background-color: #f4f4f4;
	border-top: 5px solid #247182;
}

.footer a{
	text-decoration: none;
	color: #247182;
}

.footer a:hover{
	text-decoration: underline;
}

.businessInfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
	#height: 100%;
}

#biggerLogo{
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 210px;
	height: 70px;
}

#businessAddress{
	margin-left: auto;
	margin-right: auto;
}

#businessPhoneNumber{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.optionsDiv{
	margin-top: 25px;
	margin-left: 25px;
}

#optionList{
	list-style: none;
}

#optionList li{
	margin: 3px;
}

.listHeader{
	font-weight: bold;
}

.copyright{
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#copyrightText{
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.6rem;
}

@media(max-width: 767px){
	.navigationLink{
		display: none;
	}
	
	.logoLink{
		float: right;
	}
}





