body{
	margin: 0;
	overflow-x: hidden;
	background-color: black;
	color: white;
}

.slider{
	width: 100%;
	height: 100vh;
	background-color: black;
}

.content{
	height: 100vh;
}


.slick-prev{
	position: absolute;
	top: 50%;
	font-size: 0pt;
	border-radius: 100%;
	padding: 0px 5px 0px 0px;
	visibility: hidden;
	z-index: 1000;
	border: 2px solid #e4052a;
}

.slick-prev:after{
	font-size: 20pt;
	content: "<";
	color: #e4052a;
}

.slick-next{
	position: absolute;
	top: 50%;
	left: 97.5%;
	font-size: 0pt;
	border-radius: 100%;
	padding: 0px 5px;
	visibility: hidden;
	border: 2px solid #e4052a;
}

.slick-next:after{
	font-size: 20pt;
	content: ">";
	color: #e4052a;
}

.slick-arrow:active, 
 .slick-arrow:focus 
 {
     border: 2px solid #e4052a;
     color:#e4052a;
  }

.slider:hover .slick-arrow{
	visibility: visible;
}

.slick-prev:hover{
	border: 2px solid #e4052a;
}

.slick-next:hover{
	border: 2px solid #e4052a;
}

.openingSlide{
	background-color: black;
}

#openingImg{
	width: inherit;
	height: 100vh;
}

.pageHeader{
	height: 12vh;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 4vh;
	font-family: 'Press Start 2P', cursive;
}

.hiringImg{
	height: 60vh;
	background-color: black;
	display: flex;
	justify-content: center;
}

.hiringImgBox{
	#margin-left: auto;
	#margin-right: auto;
	width: 55vw;
	height: inherit;
}

.hiringDescription{
	background-color: black;
	height: 33vh;
}

.hiringDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#namingImage{
	height: 50vh;
	width: 100vw;
	background-color: black;
	display: flex;
	justify-content: center;
}

#namingImage a{
	#margin-left: auto;
	#margin-right: auto;
	height: inherit;
}

#namingImage img{
	#margin-left: auto;
	#margin-right: auto;
	height: inherit;
}

#namingDescription{
	height: 38vh;
	background-color: black;
}

#namingDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;	
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.envisionImg{
	display: flex;
	justify-content: center;
	background-color: black;
	height: 50vh;
}

.envisionImg a{
	height: inherit;
}

.envisionImg img{
	height: inherit;
}

.envisionDescription{
	background-color: black;
	color: white;
	height: 38vh;
}

.envisionDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rolesImg{
	height: 50vh;
	width: 100%;
	background-color: blue;
}

.rolesImg img{
	height: inherit;
	width: inherit;
}

.rolesDescription{
	height: 38vh;
	background-color: black;
	color: white;
}

.rolesDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#artBody{
	height: 88vh;
	width: 100vw;
}

#artImg{
	height: inherit;
}

#artImg a{
	height: inherit;
	width: 100%;
}

#artImg img{
	height: inherit;
	width: 100%;
}

#artDescription{
	height: inherit;
	background-color: black;
	margin: 0;
	#width: 50%;
}

#artDescription p{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.musicImg{
	height: 50vh;
	display: flex;
	justify-content: center;
}

.musicImg a{
	height: inherit;
}

.musicImg img{
	height: inherit;
}

.musicDescription{
	height: 38vh;
}

.musicDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.engineDescription{
	height: 68vh;
}

.engineDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.engineImgs{
	height: 20vh;
	display: flex;
    justify-content:space-between;
	background-color: black;
}

.engineImgs img{
	height: inherit;
}

.engineImgs a{
	height: inherit;
}

#codingBody{
	height: 88vh;
	width: 100vw;
}

.codingImg{
	height: 50vh;
	display: flex;
	justify-content: center;
}

.codingImg a{
	height: inherit;
	#width: 100%;
}

.codingImg img{
	height: inherit;
	#width: 100%;
}

.codingDescription{
	height: 38vh;
}

.codingDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.playtestImg{
	height: 50vh;
	display: flex;
	justify-content: center;
}

.playtestImg a{
	height: inherit;
	#width: 100%;
}

.playtestImg img{
	height: inherit;
	#width: 100%;
}

.playtestDescription{
	height: 38vh;
}

.playtestDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.finalizeDescription{
	height: 68vh;
	background-color: black;
}

.finalizeDescription p{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
	color: white;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.finalizeImgs{
	height: 20vh;
	display: flex;
    justify-content:space-between;
	background-color: black;
}

.finalizeImgs a{
	height: inherit;
	width: 15vw;
}

.finalizeImgs img{
	height: inherit;
	width: inherit;
}

.quizName{
	font-family: 'Press Start 2P', cursive;
}

label, legend {
    display: inline;
    margin-bottom: .5rem;
    font-weight: 600;
}

#quizImg{
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#artImg a{
	height: inherit;
	width: 100%;
}

#quizImg img{
	height: 50%;
	width: 100%;
}

.quizName{
	color: #e4052a;
}

.startQuiz{
	border: 1px solid white;
	color: white;
	background-color: #e4052a;
	border-radius: 5%;
	padding: 10px;
}

.startQuiz:hover{
	color: white;
}

.checkAnswer, .nextQuestion{
	background-color: #e4052a;
}

.checkAnswer:hover, .nextQuestion:hover{
	background-color: #e4052a;
	color: black;
}




@media (max-width: 800px) and (min-width: 768px){
	.slick-next{
		left: 95%;		
	}
	
	.engineDescription{
		height: 88vh;
		font-size: 1.5vw;
	}
	
	.finalizeDescription{
		height: 88vh;
		font-size: 1.5vw;
	}
}



@media(max-width: 767px){	
	.slick-next{
		left: 92%;
	}

	.hiringImg{
		display: none;
	}	
	#namingImage{
		display: none;
	}
	.envisionImg{
		display: none;
	}
	.rolesImg{
		display: none;
	}
	#artImg{
		display: none;
	}
	.musicImg{
		display: none;
	}
	.engineImgs{
		display: none;
	}
	.codingImg{
		display: none;
	}
	.playtestImg{
		display: none;
	}
	.finalizeImgs{
		display: none;
	}
	#quizImg{
		display: none;
	}
	
	.hiringDescription{
		height: 88vh;
	}
	
	#namingDescription{
		height: 88vh;
	}
	
	.envisionDescription{
		height: 88vh;
	}
	
	.rolesDescription{
		height: 88vh;
	}
	
	#artDescription{
		width: 100vw;
	}
	
	.musicDescription{
		height: 88vh;
	}
	
	.engineDescription{
		height: 88vh;
		font-size: 2.5vw;
	}
	
	.codingDescription{
		height: 88vh;
	}
	.playtestDescription{
		height: 88vh;
	}
	.finalizeDescription{
		height: 88vh;
		font-size: 2.5vw;
	}
	
	.answers{
		float: right;
		margin-right: 20px;
	}
	
	.nextQuestion{
		float: right;
		margin-right: 20px;
	}
	
	
	
}
























