/* Some default styling to get you started */
body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mobile-btn {
  display: none;
}

/* Add desktop styles here */
header{
	height: 100px;
	background-color: yellow;
}

#navMenu{
	height: inherit;
	display: flex;
	justify-content: center;
}

#mobileNav{
	display: none;
}

#headerImg{
	height: inherit;
	margin-right: 3%;
}

.desktopButton{
	height: 50%;
	border: none;
	background: none;
	font-size: 12pt;
	position: relative;
	top: 25px;
	color: blue;
	margin-right: 10px;
}

.desktopButton:hover{
	color: white;
	background-color: blue;
}



/* Add mobile styles here */
@media(max-width: 767px){	
	.mobile-btn{
		display: initial;
		float: right;
		position: relative; 
		top: 40px;
		right: 50px;
	}
	
	#navMenu{
		display: initial;
	}
	
	#mobileNav{
		/* display: block; */
		background-color: #000080;
		/* width: 100%; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 350px;
	}
	
	.mobileButton{
		border: none;
		display: block;
		background: none;
		font-size: 17pt;
		color: blue;
		float: left;
		margin: 5px;
		margin-left: 10px;
		padding: 10px;
		align-self: flex-start;
	}
	
	.mobileButton:hover{
		background-color: blue;
		color: white;
	}
	
	#headerImg{
		position: relative;
		left: 50px;
	}
	
	.desktopButton{
		display: none;
	}
	
	
}




